<!doctype html>
<html lang='ja'>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Language" content="ja" />
    {{ inline_style_tag('layout.css') | safe }}
    <link rel="preload" as='style' href="{{ webpack_url('main.css') }}" />
    <meta name="robots" content="index,follow" />
    <title>{{ title or 'CHANGE: this is title' }}</title>
    <script type="text/javascript" src="{{ webpack_url('index.js') }}" defer='defer'></script>
    <meta name="description" content='CHANGE: this is description' >
    <meta property="og:image" name="og:image" content="CHANGE ME" />
  </head>
  <body>
    {%- block body -%}
    {%- endblock -%}
    <script>
      Array.prototype.forEach.call(document.querySelectorAll("[as='style']"), function(e){ e.setAttribute('rel', 'stylesheet') })
    </script>
  </body>
</html>
